name: daily update
on:
  schedule:
    - cron: "29 9,18 * * *"
  workflow_dispatch:

jobs:
  test:
    name: update
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: aquaproj/aqua-installer@d1fe50798dbadd4eb5b98957290ca175f6b4870f # v4.0.2
        with:
          aqua_version: v2.25.1
      - name: update & pr
        env:
          HOMEBREW_DEVELOPER: "true"
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo >> /home/runner/.bashrc
          echo 'eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"' >> /home/runner/.bashrc
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          aqua i
          make update-all
          git diff --exit-code --quiet && exit
          git diff --name-only | xargs -n 1 brew install --formula --build-from-source
          branch="create-pull-request/patch"
          git config --global user.email fujiwara.shunichiro@gmail.com
          git config --global user.name fujiwara
          git checkout -b "$branch"
          git add *.rb
          git commit -m 'update to newer version'
          git push -f origin "$branch"
          if gh pr list --head "$branch" --state open --json number --jq '.[0].number' | grep -q .; then
            echo "PR already exists"
          else
            gh pr create --title "update to newer version" --body "" --reviewer fujiwara
          fi
